<!-- footer -->
<footer class="footer fly-in animated-content">
  <div class="foot-top">
    <div class="container-small">
      <div class="foot-top-logo">
        <a href="http://www.latet.org.il/" target="_blank">
          <%= image_tag "latet.png" %>
        </a>
      </div>
    </div>
  </div>
  <div class="foot-middle section-blue">
    <div class="container-small">
      <div class="row">
        <div class="col-sm-6">
          <h5 class="foot-subscrb-title clearfix">
            <span>יש לכם שאלות? טענות, מענות?</span>
          </h5>
          <%= image_tag "foot_middle_icon.png", class: "mobile-hidden" %>
          <a href="/contacts.html" class="btn">כיתבו לנו</a>
        </div>
        <div class="col-sm-3 mobile-hidden">
          <div class="foot-middle-nav">
            <h5>קישורים</h5>
            <ul>
              <li><a href="/questions_and_answers.html">שאלות ותשובות</a></li>
              <li><a href="/ambassadors.html">השגרירים שלנו</a></li>
              <li><a href="/about.html">אנחנו במספרים</a></li>
              <li><a href="/contacts.html">צור קשר</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 credits">
          <h5 class="clearfix">קרדיטים</h5>
          <ul>
            <li>
              <a href="<%= data.generic.settings.facebook_share %>" target="_blank">
                <span>שתף ב-</span>
                <i class="icon icon-fb"></i>
              </a>
              <span>Share on</span>
            </li>
            <li>
              <a href="http://tross.co/" target="_blank">
              <%= image_tag "tross_logo.png", alt: "Tross" %></a>
              <span>Design by</span>
            </li>
            <li>
              <a href="http://astrails.com/" target="_blank">
                <%= image_tag "astrails_small.png", alt: "Astrails" %></a>
              <span>Crafted by</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%= partial "layouts/footer_sponsers" %>
</footer>
<!-- /footer -->
