<!-- header -->
<header class="header">
  <div class="header-inner clearfix navbar navbar-default navbar-fixed-top">
    <div class="head-right clearfix container">
      <button id="menu-open" class="menu-toggle mobile-visiable btn-reset"><i class="icon icon-menu"></i></button>
      <h1 class="head-logo">
        <a href="/" data-event="ga" data-ga-category="Menu" data-ga-action="click" data-ga-label="main_logo" >
          <%= image_tag "head-logo.png", alt: "table for two logo" %>
        </a>
      </h1>
      <nav class="head-nav mobile-hidden">
        <ul class="clearfix">
          <li><a href="/contacts.html" data-event="ga" data-ga-category="Menu" data-ga-action="click" data-ga-label="contacts" class='<%= selected_menu('contacts') %>'>צור קשר</a></li>
          <li><a href="/about.html" data-event="ga" data-ga-category="Menu" data-ga-action="click" data-ga-label="about" class='<%= selected_menu('about') %>'>אנחנו במספרים</a></li>
          <li><a href="/ambassadors.html" data-event="ga" data-ga-category="Menu" data-ga-action="click" data-ga-label="ambasasadors" class='<%= selected_menu('ambassadors') %>'>השגרירים שלנו</a></li>
          <li><a href="/questions_and_answers.html" data-event="ga" data-ga-category="Menu" data-ga-action="click" data-ga-label="q&a" class='<%= selected_menu('questions_and_answers') %>'>שאלות ותשובות</a></li>
        </ul>
      </nav>
    </div>
    <!-- /mobile-nav -->
  </div>
</header>
<!-- /header -->
