<!-- mobile-nav -->
<nav class="mobile-nav mobile-visiable">
  <button id="menu-close" class="menu-toggle mobile-visiable btn-reset"><i class="icon icon-close"></i></button>
  <ul>
    <li><a href="/index.html" data-event="ga" data-ga-category="Mobile Menu" data-ga-action="click" data-ga-label="home" class='<%= selected_menu('index') %>'>עמוד הבית</a></li>
    <li><a href="/contacts.html" data-event="ga" data-ga-category="Mobile Menu" data-ga-action="click" data-ga-label="contacts" class='<%= selected_menu('contacts') %>'>צור קשר</a></li>
    <li><a href="/about.html" data-event="ga" data-ga-category="Mobile Menu" data-ga-action="click" data-ga-label="about" class='<%= selected_menu('about') %>'>אנחנו במספרים</a></li>
    <li><a href="/ambassadors.html" data-event="ga" data-ga-category="Mobile Menu" data-ga-action="click" data-ga-label="ambassadors" class='<%= selected_menu('ambassadors') %>'>השגרירים שלנו</a></li>
    <li><a href="/questions_and_answers.html" data-event="ga" data-ga-category="Mobile Menu" data-ga-action="click" data-ga-label="q&a" class='<%= selected_menu('questions_and_answers') %>'>שאלות ותשובות</a></li>
  </ul>
</nav>
<!-- /mobile-nav -->
