---
title: "שולחן לשניים | אודות"
---

<section class="main">
  <div class="container-main clearfix">
    <aside class="sidebar">
      <div class="sidebar-img">
        <%= image_tag "sidebar_about_img.png" %>
      </div>
      <h2 class="title-blue">אנחנו במספרים
        <span>זה מה שאחנו עושים עם<br> השקלים שנאספו עד כה</span>
      </h2>
      <p>עכשיו השתכנעתם? </p>
      <div class="sidebar-btn text-center">
        <a href="<%= data.generic.settings.signup_link %>" class="btn" target="_blank">
          קליק אחד וזהו
        </a>
      </div>
    </aside>
    <div class="contant">
      <ul class="row">
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="about-box box">
            <figure class="about-img box-img">
              <%= image_tag "about_img_03.png" %>
            </figure>
            <figcaption class="about-info box-info">
            <p>מסייעים לכ-39,570 ילדים בישראל </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="about-box box">
            <figure class="about-img box-img">
              <%= image_tag "about_img_02.png" %>
            </figure>
            <figcaption class="about-info box-info">
            <p>
              מחלקים כ-2,400 ארגזי מזון ומעל 60,000 פריטים
            </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="about-box box">
            <figure class="about-img box-img">
              <%= image_tag "about_img_01.png" %>
            </figure>
            <figcaption class="about-info box-info">
            <p>תומכים בך- 15,828 משפחות הסובלות מאי ביטחון תזונתי</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="about-box box">
            <figure class="about-img box-img">
              <%= image_tag "about_img_05.png" %>
            </figure>
            <figcaption class="about-info box-info">
            <p>סיוע ותמיכה בפעילותם של 120 עמותות וארגוני מזון מקומיים</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="about-box box">
            <figure class="about-img box-img">
              <%= image_tag "about_img_06.png" %>
            </figure>
            <figcaption class="about-info box-info">
            <p>פועלים ב-97 ישובים בארץ</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="about-box box">
            <figure class="about-img box-img">
              <%= image_tag "about_img_04.png" %>
            </figure>
            <figcaption class="about-info box-info">
            <p>חיזוק המודעות הציבורית לבעית אי בטחון תזונתי</p>
            </figcaption>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
