---
title: "שולחן לשניים | השגרירים שלנו"
---

<section class="main">
  <div class="container-main clearfix">
    <aside class="sidebar">
      <div class="sidebar-img">
        <%= image_tag "sidebar_ambassadors_img.png", alt: "שגריר של שולן לשמנים"  %>
      </div>
      <h2 class="title-blue">בואו להיות שגרירים של מעשים טובים!</h2>
      <p class="explain">
        שתפו את שולחן לשניים עם חבריכם בארגון<br/>
        ואפשרו גם להם לעזור
      </p>
      <div class="sidebar-btn text-center">
        <a href="<%= data.generic.settings.signup_link %>" data-event="ga" data-ga-category="Ambassadors Page" data-ga-action="click" data-ga-label="join1" class="btn" target="_blank">קליק אחד וזהו</a>
      </div>
    </aside>
    <div class="contant">
      <ul class="row">
        <% data.ambassadors.list.each do |ambassador| %>
          <li class="col-lg-4 col-md-6 fly-in animated-content">
            <div class="ambassador-box">
              <figure class="ambassador-img text-center">
                <%= image_tag ambassador.image %>
              </figure>
              <figcaption class="ambassador-info">
                <h3><%= ambassador.name %></h3>
                <h4>
                  <%= ambassador.title %>, <%= ambassador.company %>
                </h4>
                <p>"<%= ambassador.message %>"</p>
              </figcaption>
              <div class="amabassador-company row">
                <div class="col-xs-3 col-sm-4">
                <%= image_tag ambassador.company_logo %></div>
                <div class="col text-right">
                  <a href="<%= ambassador.company_link %>" data-event="ga" data-ga-category="Ambassadors Page" data-ga-action="click" data-ga-label="ambassador1" target="_blank"><%= ambassador.company %></a>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
