<!-- main -->
<section class="main">
  <!-- banner -->
  <div class="banner section-blue">
    <div class="container-small">
      <h2> בכל הזמנת ארוחה עם <span>תן ביס</span><br>תורמים שקל לילד שזקוק לארוחה</h2>
      <a href="<%= data.generic.settings.signup_link %>&utm_content=join1" class="btn" target="_blank"
      data-event="ga" data-ga-category="Home Page" data-ga-action="click" data-ga-label="join1">הצטרף עכשיו</a>
      <div class="banner-media">
        <div class="banner-media-inner">
          <button type="button" class="btn-reset btn-play" data-toggle="modal"
            data-target="#video-modal" data-theVideo="https://www.youtube.com/embed/HieorPee6KM"
            data-event="ga" data-ga-category="Home Page" data-ga-action="click" data-ga-label="play video">
            <i class="icon icon-play"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /banner -->

  <!-- options -->
  <div class="options">
    <div class="container-small section-space">
      <h3 class="title-blue fly-in animated-content">אז מה בעצם אנחנו עושים?</h3>
      <ul class="row fly-in animated-content">
        <li class="col-sm-4">
          <div class="col-box">
            <figure class="option-img">
              <%= image_tag "img_01.png" %>
            </figure>
            <figcaption class="option-caption">
            <h4>1. מצטרפים לשולחן לשניים</h4>
            <p> זה לוקח כמה שניות ותמיד אפשר  <br>להתחרט ולבטל</p>
            </figcaption>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="col-box">
            <figure class="option-img">
              <%= image_tag "img_02.png" %>
            </figure>
            <figcaption class="option-caption">
            <h4>2. תורמים שקל אחד</h4>
            <p> בכל הזמנת ארוחה עם תן ביס. <br> שקל אחד. בלבד.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="col-box">
            <figure class="option-img">
              <%= image_tag "img_03.png" %>
            </figure>
            <figcaption class="option-caption">
              <h4>3. עוזרים לילדים שזקוקים לארוחה.</h4>
              <p> הכסף במלואו הולך ישירות <br> לילדים שזקוקים לו.</p>
            </figcaption>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /options -->

  <!-- section-separator -->
  <div class="section-separator section-blue fly-in animated-content">
    <div class="container-small">
      <p>נכון שזה למטרה טובה?..</p>
      <a href="<%= data.generic.settings.signup_link %>&utm_content=join2" class="btn" target="_blank"
        data-event="ga" data-ga-category="Home Page" data-ga-action="click" data-ga-label="join2">
        להרשמה
      </a>
    </div>
  </div>
  <!-- /section-separator -->

  <%= partial "participants" %>

  <!-- section-separator -->
  <div class="section-separator section-blue fly-in animated-content">
    <div class="container-small">
      <p>עכשיו כבר בטוח השתכנעתם!</p>
      <a href="<%= data.generic.settings.signup_link %>&utm_content=join3" class="btn" target="_blank"
        data-event="ga" data-ga-category="Home Page" data-ga-action="click" data-ga-label="join3">
         יאללה, להרשמה
      </a>
    </div>
  </div>
  <!-- /section-separator -->

  <!-- logos -->
  <div class="logos">
    <div class="container-small section-space">
      <h3 class="title-blue fly-in animated-content">החברות שכבר איתנו..</h3>
      <div class="logos-block fly-in animated-content">
        <ul class="row">
          <% (1..3).each do |i| %>
            <% big_logo = "logo_#{i}.png" %>
            <li class="col-sm-4">
              <div class="logo-box">
                <%= image_tag big_logo %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <ul class="logos-small-block fly-in animated-content">
        <% (4..14).each do |i| %>
          <% small_logo = "logo_#{i}.png" %>
          <li>
            <div class="logo-small-box">
              <%= image_tag small_logo %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- /logos -->
</section>
<!-- /main -->

<%= partial "video" %>
