---
title: "שולחן לשניים | שאלות ותשובות"
---

<section class="main">
  <div class="container-main clearfix">
    <aside class="sidebar">
      <div class="sidebar-img">
        <%= image_tag "sidebar_qa_img.png" %>
      </div>
      <h2 class="title-blue">שאלות ותשובות...</h2>
      <p class="explain">יש לך עוד שאלות?</p>
      <div class="sidebar-btn text-center" >
        <a class="btn" type="submit"  href="/contacts.html">לחץ פה</a>
      </div>
    </aside>
    <div class="contant">
      <ul class="row">
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_01.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>מתי כדאי להרשם וכמה זמן זה יקח?</h3>
            <p>עכשיו, 30 שניות. </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_02.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>מתי אפשר להפסיק וכמה זמן זה לוקח?</h3>
            <p>כל רגע, 15 שניות. </p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_03.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>מהו חוסר ביטחון תזונתי?</h3>
            <p>בגדול, זה כשאנשים נאלצים לדלג על ארוחות, ולא מטעמי דיאטה.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_04.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>איך זה יראה בחשבון הבנק שלי?</h3>
            <p>כמו בדוגמא למעלה.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_05.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>האם סכום התרומה יכול להשתנות?</h3>
            <p>לא, אין מצב.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_06.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>למי תעבירו את המידע שלי וכמה פעמים תתקשרו לבקש עוד תרומות?</h3>
            <p>לאף אחד ואף פעם.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_07.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>אז כמה כסף אתם רוצים?</h3>
            <p>בכל פעם שאתה אוכל, אנחנו עוזרים לך לתרום שקל אחד לילד שזקוק לו.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_08.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>לאן הולך הכסף שנאסף?</h3>
            <p>לילדים שהכי צריכים את זה.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_09.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>האם כל הכסף ילך לתרומה? </h3>
            <p>כן. הכסף במלואו עובר ישירות לארגון לתת. כשמדובר במצווה, אין מקום לרווח או לעמלות.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_10.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>מאיפה ירד הכסף?</h3>
            <p>רק דרך כרטיס האשראי. אין אפשרות לחייב את הסכום דרך כרטיס ה״תן ביס״. לכן, בעת הצטרפות, יש צורך לקשר את כרטיס ה״תן ביס״ לכרטיס האשראי.</p>
            </figcaption>
          </div>
        </li>
        <li class="col-lg-4 col-md-6 fly-in animated-content">
          <div class="box">
            <figure class="box-img">
              <%= image_tag "qa_11.png" %>
            </figure>
            <figcaption class="box-info">
            <h3>ואם אני רוצה לדעת עוד?</h3>
            <p>נשמח לתת לך מידע נוסף בכתובת המייל
              <%= data.generic.settings.email %> ובאתר
              <a href="//www.latet.org.il" target="_blank">www.latet.org.il</a>
            </p>
            </figcaption>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
